@import 'https://fonts.googleapis.com/css?family=Pacifico|Open+Sans+Condensed:300';

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #d6eff294;
}

#mainHeader {
    text-align: center;
    font-size: 65px;
    font-weight: 100;
    padding: 10px 0px 20px 0px;
    margin: 0;
    font-family: Pacifico;
    color: #333;
}

#colorPick {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-bottom: -10px;
}

#colorPick::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

button {
    min-width: 180px;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 5px;
    font-family: 'Open Sans Condensed';
    cursor: pointer;
}

.selected {
    border: none;
    background-color: #333;
    color: azure;
    pointer-events: none;
}

button:hover {
    outline: 0;
    border: 1px solid #333;
    box-shadow: 0 0 0 2px #333;
}

.buttonDiv {
    box-sizing: border-box;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 30px;
}

#mainDiv {
    display: flex;
    align-items: center;
    gap: 75px;
    max-width: 1100px;
    margin: 0 auto;
}

#drawingBoard {
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: #f3eceb7a;
    width: 560px;
    height: 560px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.element {
    flex-grow: 1;
}

#rangeValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -10px;
    font-size: 22px;
    font-family: 'Open Sans Condensed';
}

#slider {
    margin: 10px 0;
    -webkit-appearance: none;
    width: 92%;
    height: 12px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider:hover {
    opacity: 1;
  }

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #128594;
    cursor: pointer;
  }